.title {
    text-align: center;
}

.block {
    display: flex;
    justify-content: center;
}

.table {
   border-collapse: collapse;
}

.row {
    background-color: lightgray;
}

.select {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}


.td {
    padding: 20px 40px;
    border: 3px solid #ccc;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.link {
    display: block;
    margin: 20px auto;
    font-weight: bold;
    color: #007bfF;
    text-decoration: none;
}